@import "tailwindcss";
/* Twinkle stars */
@keyframes twinkle {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
.animate-twinkle {
  animation: twinkle 2s infinite ease-in-out;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
